<p id="notice"><%= notice %></p>

<p>
  <b>Service:</b>
  <%= @event.service_id %>
</p>

<p>
  <b>Entry:</b>
  <%= @event.entry_id %>
</p>

<p>
  <b>Start at:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @event.end_at %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-default" %> |
<%= link_to 'Back', events_path, :class => "btn btn-default" %>
