<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title> <%= @page_title || controller_name %> </title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <style tyoe="text/css">
    body {
      padding-top: 60px;
    }
  </style>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= yield :css %>
  <%= yield :js %>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">MF Sales</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div><!-- /.container -->

  <%= 
    #render "layouts/booking/flash" 
  %>
</body>
</html>
