<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :service_id %><br />
    <%= f.number_field :service_id, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :day %><br />
    <%= f.number_field :day, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :day_off %><br />
    <%= f.check_box :day_off %>
  </div>
  <div class="form-group">
    <%= f.label :from_hour %><br />
    <%= f.number_field :from_hour, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :from_min %><br />
    <%= f.number_field :from_min, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :to_hour %><br />
    <%= f.number_field :to_hour, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :to_min %><br />
    <%= f.number_field :to_min, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit nil, :class => "btn btn-primary" %>
  </div>
<% end %>
