<h1>Listing schedules</h1>

<table class="table table-bordered">
  <tr>
    <th>Service</th>
    <th>Name</th>
    <th>Day</th>
    <th>Day off</th>
    <th>From hour</th>
    <th>From min</th>
    <th>To hour</th>
    <th>To min</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.service_id %></td>
    <td><%= schedule.name %></td>
    <td><%= schedule.day %></td>
    <td><%= schedule.day_off %></td>
    <td><%= schedule.from_hour %></td>
    <td><%= schedule.from_min %></td>
    <td><%= schedule.to_hour %></td>
    <td><%= schedule.to_min %></td>
    <td><%= link_to 'Show', schedule, :class => "btn btn-default" %></td>
    <td><%= link_to 'Edit', edit_schedule_path(schedule), :class => "btn btn-default" %></td>
    <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_schedule_path, :class => "btn btn-default" %>
