<%= form_for(@service, :url => @service.new_record? ? services_path(@page, @service) : service_path(@page, @service)) do |f| %>
  <%= render "layouts/booking/error_messages", :target => @service %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control", :rows => 3 %>
  </div>
  <div class="form-group">
    <%= f.label :duration, "Duration (minute)" %>
    <%= f.number_field :duration, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :participant, "Participant Number (reservation per time slot)" %>
    <%= f.number_field :participant, :class => "form-control" %>
  </div>
  
  <%= f.fields_for :settings do |builder| %>
    <div class="well">
      <%= render "setting_fields", :f => builder %>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.submit nil, :class => "btn btn-primary" %>
  </div>
<% end %>