<h1>Listing services</h1>

<table class="table table-bordered">
  <tr>
    <th>Property</th>
    <th>User</th>
    <th>Name</th>
    <th>Description</th>
    <th>Duration (min)</th>
    <th>Participant Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |s| %>
  <tr>
    <td><%= s.persona.name %></td>
    <td><%= s.user.full_name %></td>
    <td><%= s.name %></td>
    <td><%= s.description %></td>
    <td><%= s.duration %></td>
    <td><%= s.participant %></td>
    <td><%= link_to 'Show', service_path(@page, s), :class => "btn btn-default" %></td>
    <td><%= link_to 'Edit', edit_service_path(@page, s), :class => "btn btn-default" %></td>
    <td><%= link_to 'Destroy', service_path(@page, s), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path(@page), :class => "btn btn-default" %>
