<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :persona_id %><br />
    <%= f.number_field :persona_id, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :source %><br />
    <%= f.text_field :source, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :move_in %><br />
    <%= f.datetime_select :move_in, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit nil, :class => "btn btn-primary" %>
  </div>
<% end %>
