<%= form_for(@entry) do |f| %>
  <%= render "layouts/booking/error_messages", :target => @entry %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :source %>
    <%= f.text_field :source, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :move_in %>
    <%= f.datetime_select :move_in, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit nil, :class => "btn btn-primary" %>
  </div>
<% end %>
