<h1>Listing entries</h1>

<table>
  <tr>
    <th>Persona</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Source</th>
    <th>Move in</th>
    <th>Deleted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.persona_id %></td>
    <td><%= entry.first_name %></td>
    <td><%= entry.last_name %></td>
    <td><%= entry.email %></td>
    <td><%= entry.phone %></td>
    <td><%= entry.source %></td>
    <td><%= entry.move_in %></td>
    <td><%= entry.deleted_at %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
